html {
  height: 100%;
}


body {
  display: flex !important;
  min-height: 100% !important;
  flex-direction: column !important;
} 

main {
  flex: 1 !important;
}



#div1{
   
    height:500px;
    border:solid 1px;
    border-radius:20px;
  }

  #fieldtext { 
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 15x;
}
#margincontent{
  height: 15px;
  
}